/* Hide the default asterisk (*) for required fields */
.slds-required {
    display: none;
}

/* Style the "required" text */
.required-text {
    color: red;
    font-size: 0.8rem; /* Make the text smaller */
    margin-left: 0.5rem;
    vertical-align: middle;
}

/* Format to make sure the flow button is on the right */
.field-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.input-section {
    flex: 1;
}

.flow-button {
    flex-shrink: 0;
    align-self: center;
}

/* Help Text icon positioning */
lightning-icon[icon-name="utility:info"] {
    vertical-align: text-bottom;
}

/* Hide the "X" on the pills */
.slds-pill__remove {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove the border */
    color: transparent; /* Make the "X" invisible */
    pointer-events: none; /* Disable interaction with the "X" */
}

.custom-modal-large {
    max-width: 80rem; /* Adjust to fit */
    width: 90%;
}