.picklist-container {
    --lwc-shadowButtonFocus: 0;
    --lwc-borderWidthThin: 0;
    --slds-c-input-shadow-focus: 0;
    --sds-c-input-shadow-focus: 0;
    width : 100%;
    margin: 0;
}

.picklist-container .slds-dropdown {
    position: relative !important;
    z-index: 1050 !important; /* higher than the table rows */
    min-width: 280px;
    overflow-y: auto;
    top: 100% !important;
    left: 0;
}

.row-colored-picklist {
    background-color: inherit !important; /* inherit from row */
    --slds-c-input-color-background: inherit;
    --slds-c-input-shadow-focus: none;
    --slds-c-input-color-background-focus: inherit;
}

.picklist-wrapper {
    background-color: inherit;
}

.slds-cell-edit {
    overflow: visible !important;
}

.slds-scrollable_y {
    overflow: visible !important;
}

th.slds-has-focus, td.slds-has-focus {
    box-shadow: none !important;
}

.row-colored-picklist {
    margin-top: 0 !important;
    padding-top: 0 !important;
}